head
  title Hard-coded title

template(name='_layout')
  .container
    .row
      .col-md-12
        h3 ostrio:flow-router-title demo
        .alert.alert-info
          | {{>Template.dynamic template=content}}
        h5 Pages:
        ul
          li: a(href="{{pathFor 'index'}}") Index
          li: a(href="{{pathFor 'secondPage'}}") Second Page
          li: a(href="{{pathFor 'thirdPage' something=rand}}") Third Page with parameter "<b>{{rand}}</b>"
          li: a(href="{{pathFor 'groupPage1'}}") Group page, with group-level title
          li: a(href="{{pathFor 'groupPage2'}}") Group page, with group-level title prefix
          li: a(href="{{pathFor 'post'}}") Demo post, with data from Mongo
          li: a(href="{{pathFor 'post.id' _id=rand}}") "NoData" route
          li: a(href="/nonexistent/route") 404: Non-existent route

  hr

  center
    h6
      | Get this package 
      a(href='https://github.com/VeliovGroup/Meteor-flow-router-title') on GitHub
      |  and/or 
      a(href='https://atmospherejs.com/ostrio/flow-router-title') on Atmosphere
      | .
    h6
      | 2016. By 
      a(href='https://veliovgroup.com') Veliov Group, LLC

template(name='index')
  +markdown
    __Index Page__, title should be: "*Default Title*"

    ##### Code:
    ```javascript
    FlowRouter.route('/', {
      name: 'index',
      action: function() {
        return BlazeLayout.render('_layout', {
          content: 'index',
          rand: Random.id()
        });
      }
    });
    ```

template(name='secondPage')
  +markdown
    __Second Page__, title should be: "*Second Page Title*"

    ##### Code:
    ```javascript
    FlowRouter.route('/secondPage', {
      name: 'secondPage',
      title: 'Second Page title',
      action: function() {
        return BlazeLayout.render('_layout', {
          content: 'secondPage',
          rand: Random.id()
        });
      }
    });
    ```

template(name='thirdPage')
  +markdown
    __Third Page__, title should be: "*Third Page Title > <b>{{rand}}</b>*"

    ##### Code:
    ```javascript
    FlowRouter.route('/thirdPage/:something', {
      name: 'thirdPage',
      title: function() {
        return "Third Page Title > " + this.params.something;
      },
      action: function(params, query) {
        return BlazeLayout.render('_layout', {
          content: 'thirdPage',
          rand: params.something
        });
      }
    });
    ```

template(name='groupPage1')
  +markdown
    __Group Page (no prefix)__, title should be: "*GROUP TITLE*"

    ##### Code:
    ```javascript
    var group = FlowRouter.group({
      prefix: '/group',
      title: "GROUP TITLE",
      titlePrefix: 'Group > '
    });

    group.route('/groupPage1', {
      name: 'groupPage1',
      action: function(params, query) {
        return BlazeLayout.render('_layout', {
          content: 'groupPage1',
          rand: Random.id()
        });
      }
    });
    ```

template(name='groupPage2')
  +markdown
    __Group Page (with prefix)__, title should be: "*Group > Group Page 2*"

    ##### Code:
    ```javascript
    var group = FlowRouter.group({
      prefix: '/group',
      title: "GROUP TITLE",
      titlePrefix: 'Group > '
    });

    group.route('/groupPage2', {
      name: 'groupPage2',
      title: 'Group page 2',
      action: function(params, query) {
        return BlazeLayout.render('_layout', {
          content: 'groupPage2',
          rand: Random.id()
        });
      }
    });
    ```

template(name='post')
  +markdown
    __Demo post, data fetched from Mongo__, title should be: "*{{post.title}}*"

    ### {{post.title}}

    {{post.text}}

    ##### Code:
    ```javascript
    FlowRouter.route('/post', {
      name: 'post',
      title: function(params, query, post) {
        return post.title;
      },
      action: function(params, query, post) {
        return BlazeLayout.render('_layout', {
          content: 'post',
          post: post,
          rand: Random.id()
        });
      },
      waitOn: function() {
        return [Meteor.subscribe('posts')];
      },
      data: function() {
        return Collections.posts.findOne();
      },
      whileWaiting: function() {
        return BlazeLayout.render('_layout', {
          content: '_loading'
        });
      }
    });
    ```

template(name="_loading")
  center: h4 Loading data from Mongo...

template(name='_404')
  // response:status-code=404
  .alert.alert-danger(style="text-align:center")
    h1 404
    h3 Whoops, page not found

  +markdown
    ##### Code:
    ```javascript
    FlowRouter.notFound = {
      action: function() {
        return BlazeLayout.render('_layout', {
          content: '_404',
          rand: Random.id()
        });
      },
      title: '404: Page not found'
    };
    ```